.wrapper {
  position: absolute;
  top: 0;
  right: 20px;
}

.folderWrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center; /* Alineación vertical del contenido al centro */
  align-items: center; /* Alineación horizontal del contenido al centro */
  /*height: 100vh; /* Ajusta la altura al 100% del viewport (pantalla) para centrar verticalmente */
}

.folderText {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
}

.marginBottom20 {
  margin-bottom: 20px;
}
